/* Container for 3D flip */
.card-container {
  width: 100%;
  max-width: 320px;
  min-width: 280px;
  height: auto;
  min-height: 320px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out, width 0.3s ease, height 0.3s ease;
  cursor: pointer;
  perspective: 1000px;
  border-radius: 10px;
  overflow: hidden;
  /* In case we add a gradient or shadow */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* Flip on click */
.card-container.is-flipped {
  transform: scale(1.1);
}

.card-container.is-flipped .card-front {
  transform: rotateY(180deg);
}

.card-container.is-flipped .card-back {
  transform: rotateY(0deg);
}

/* Hover indication */
.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

/* Both sides share base styles */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background: linear-gradient(135deg,
      rgba(251, 236, 228, 0.9) 0%,
      rgba(251, 236, 228, 1) 100%);
  /* subtle peach gradient */
  display: flex;
  ;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  transition: transform 0.6s ease;
}

/* FRONT SIDE */
.card-front {
  transform: rotateY(0deg);
}

.icon-wrapper {
  margin-top: 4.5rem;
}

.card-title {
  color: var(--color-dark-teal);
  font-size: 1.1rem;
  margin-top: 3.5rem;
  margin-bottom: .5rem;
  text-align: center;
}

.card-short-desc {
  color: var(--color-dark-gray);
  font-size: 0.85rem;
  text-align: center;
  max-width: 80%;
}

/* Badge */
.badge {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  background-color: var(--color-dark-teal);
  color: var(--color-background);
  padding: 0.2rem 0.6rem;
  font-size: 0.75rem;
  border-radius: 4px;
}

/* BACK SIDE */
.card-back {
  transform: rotateY(-180deg);
  padding-top: 3rem;
}

.card-detailed-desc {
  color: var(--color-dark-gray);
  font-size: 0.85rem;
  text-align: center;
  max-width: 85%;
  line-height: 1.4;
  margin-bottom: 2rem;
}

/* Adjust padding for different screen sizes */
@media (min-width: 640px) {
  .card-front,
  .card-back {
    padding: 1.5rem;
  }
  
  .icon-wrapper {
    margin-top: 2rem;
  }
  
  .card-title {
    margin-top: 2rem;
  }
}

@media (max-width: 639px) {
  .card-container {
    min-height: 280px;
  }
  
  .card-front,
  .card-back {
    padding: 1rem;
  }
  
  .icon-wrapper {
    margin-top: 1.5rem;
  }
  
  .card-title {
    margin-top: 1.5rem;
    font-size: 1rem;
  }
  
  .card-short-desc,
  .card-detailed-desc {
    font-size: 0.8rem;
  }
}